body {
  background-color: rgb(171, 215, 241);
}

/*Selector tag*/
h1 {
  color: royalblue;
}

/*Selector Clase*/

.parrafo-color {
  color: red;
  font-size: 20px;
}

/* Selector ID*/

#primer-titulo {
  text-align: center;
}
